extends layout 
block content 

	//- BEGIN CONTENT FORMULAIRE 
	.col-md-12.espace-formulaire

		//- TITLE FORMULAIRE
    	.col-md-12.title-formulaire-demandeur
    		h3 Informations Personnelles

    	//- CONTENT FORMULAIRE 
    	.col-md-12.content-formulaire
    		form 
    			

        


    